@use "../../variables.scss" as *;
@use "../../mixins.scss" as *;

.wpo-contact-section-s6 {
  padding: 80px 0;
  position: relative; // garante contexto pras imagens absolutas

  .wpo-contact-section-wrapper {
    max-width: 570px;
    margin: 0 auto;
    position: relative;
    background: none;
    z-index: 1;
    border: 0;
    box-shadow: none;

    @media(max-width:1399px) {
      max-width: 530px;
    }

    @media(max-width:1199px) {
      max-width: 500px;
    }

    .wpo-contact-section-inner {
      position: relative;
      background: none;
      border-radius: 330px 330px 0px 0px;
      padding: 30px;
      border: 1px solid transparentize($theme-primary-color, .1);

      @media(max-width:575px) {
        padding: 15px;
      }
    }

    .wpo-contact-form-area {
      padding: 120px 40px 60px;
      border: 1px solid #F3ECE9;
      border-radius: 300px 300px 0px 0px;
      background: $white;

      @media(max-width:1199px) {
        padding: 100px 40px 70px;
      }

      @media(max-width:440px) {
        padding: 60px 20px 30px;
      }

      .date {
        .form-control {
          background: transparent url("/assets/images/date2.png") no-repeat calc(100% - 15px) center;
        }
      }

      .submit-area {
          text-align: center;
          width: 100%;
          margin-bottom: 10px;
          margin-left: 0;
          				margin-top: 40px;
				text-align: center;

          			@include media-query(767px) {
				margin-bottom: 0;
			}
				.theme-btn {
          	background: $theme-primary-color;
	color: $white;
	display: inline-block;
	font-weight: 500;
	padding: 15px 45px;
	border: 0;
	text-transform: uppercase;
	z-index: 1;
	position: relative;
	font-size: 18px;
	font-size: calc-rem-value(18);
	transition: all .3s;
          				border-radius: 0px;
				font-family: $base-font;
				font-size: 16px;
					background: $theme-primary-color;
          
				&:after {
					border-radius: 0px;
				}
				}
			}
      .wpo-section-title {
        margin-bottom: 24px;
		h2 {
          font-size: 40px;
		  text-align: center;
          @media(max-width:440px) {
            font-size: 25px;
          }
        }
		h5{
			font-weight: 800 !important;
			text-align: center;
			
		}
      }
    }
  }

  .left-img,
  .right-img {
    position: absolute;
    width: 50%;
    height: 50%;

    &:before {
      position: absolute;
      left: 2%;
      top: 3%;
      width: 96%;
      height: 94%;
      content: "";
      border: 1px solid transparentize($white, .5);

      @media(max-width:991px) {
        top: 2%;
        height: 96%;
      }

      @media(max-width:575px) {
        display: none;
      }
    }

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  .left-img {
    top: 0;
    left: 0;
  }

  .right-img {
    right: 0;
    bottom: 0;
  }
}

// wpo-page-title

.wpo-page-title {
	background: url(/assets/images/page-title.jpg) no-repeat center top / cover;
	min-height: 360px;
	margin-bottom: 0px;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	z-index: 1;

	@media(max-width: 767px) {
		min-height: 250px;
	}

	.wpo-breadcumb-wrap {
		text-align: center;

		h2 {
			font-weight: 400;
			font-size: 45px;
			line-height: 57px;
			color: $dark-gray;
			margin-bottom: 10px;

			@media(max-width: 767px) {
				font-size: 30px;
				line-height: 55px;
				margin-bottom: 10px;
			}
		}

		ol {
			padding-left: 0;
			margin-bottom: 0;

			li {
				display: inline-block;
				padding: 0px 15px;
				color: $text-color;
				position: relative;
				font-size: 20px;

				@media(max-width:767px) {
					font-size: 18px;
				}
				@media(max-width:575px) {
					font-size: 16px;
			  		padding: 0 10px;
				}

				&:after {
					content: "";
					position: absolute;
					right: -5px;
					top: 50%;
					transform: translateY(-50%);
					width: 5px;
					height: 5px;
					background: $text-color;
					border-radius: 50%;
				}

				&:last-child {
					span {
						color: #cbd4fd;
					}

					&:after {
						display: none;
					}
				}

				a {
					color: $text-color;
					font-size: 20px;
					transition: all .3s;

					@media(max-width:767px) {
						font-size: 18px;
					}

					@media(max-width:575px) {
						font-size: 16px;
					}

					&:hover {
						color: $theme-primary-color;
					}
				}
			}
		}
	}
}
