@use "../../variables" as *;

.menu{
    position: relative;
    display: flex;
    align-items: center;


    .logo {
        padding: 16px;

        span {
            color: $theme-primary-color;
            font-family: $heading-font;

            margin: 0 2px;
            font-size: 35px;

            &:nth-child(2) {
                font-size: 24px;
            }
        }
    }

    .menu-items{
        flex: 1;

        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        display: flex;
        align-items: center;
        justify-content: center;

        span{
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 500;
            color: black;

            padding: 24px 16px;

            &.active{
                color: $theme-primary-color;
                position: relative;

                &:after{
                    content: "";
                    width: 100%;
                    height: 4px;
                    background: $theme-primary-color;
                    display: block;
                    border-radius: 4px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
        }
    }
}
