@use "../../variables" as *;
@use "../../mixins" as *;

.wpo-portfolio-section,
.wpo-portfolio-section-s2 {
    position: relative;
    padding-top: 10px;
    overflow: hidden;
    padding-bottom: 60px;

    &::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 30%;
        content: "";
        background: $section-bg-color-s3;
    }

    .container-fluid {
        padding: 0;
    }

    .portfolio-grids {

        .grid {
            img {
                width: 100%;
            }
        }

        .owl-stage-outer {
            padding-top: 145px;

            @media(max-width:991px) {
                padding-top: 0px;
            }
        }

        &.owl-carousel .owl-item {
            &:nth-child(even) .grid {
                @media(min-width:991px) {
                    transform: translateY(0);
                    animation: margin 10s linear infinite;
                }
            }

            &:nth-child(odd) .grid {
                @media(min-width:991px) {
                    transform: translateY(0);
                    animation: marginOdd 10s linear infinite;
                }
            }

            @-webkit-keyframes margin {
                0% {
                    transform: translateY(-145px);
                }

                50% {
                    transform: translateY(-50px);
                }

                100% {
                    transform: translateY(-145px);

                }
            }

            @keyframes margin {
                0% {
                    transform: translateY(-145px);

                }

                50% {
                    transform: translateY(-50px);
                }

                100% {
                    transform: translateY(-145px);

                }
            }

            @-webkit-keyframes marginOdd {
                0% {
                    transform: translateY(0);
                }

                50% {
                    transform: translateY(-145px);

                }

                100% {
                    transform: translateY(0);
                }
            }

            @keyframes marginOdd {
                0% {
                    transform: translateY(0);
                }

                50% {
                    transform: translateY(-145px);

                }

                100% {
                    transform: translateY(0);
                }
            }
        }

        .owl-controls {
            width: 100%;
            margin: 0;
            position: absolute;
            left: 0;
            top: 50%;
            @include translatingY();
        }

        .owl-nav [class*=owl-] {
            padding: 0;
            margin: 0;
            color: $theme-primary-color;
            @include transition-time(0.3s);
            border: 0;
            background: none;

            .fi {
                &::before {
                    font-size: 20px;
                    color: $white;
                }
            }
        }

        .owl-nav .owl-prev,
        .owl-nav .owl-next {
            position: absolute;
            top: 50%;
            @include translatingY();
            background: $theme-primary-color;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            opacity: 0;
            transition: all .3s;

            @media(max-width:575px) {
                display: none;
            }
        }

        .owl-nav .owl-prev {
            left: 40px;
        }

        .owl-nav .owl-next {
            right: 40px;
        }

        .owl-dots {
            margin-top: 0px;
            position: absolute;
            left: 50%;
            bottom: -30px;
            transform: translateX(-50%);

            @media(min-width:575px) {
                display: none;
            }

            button {
                width: 10px;
                height: 12px;
                border: 0;
                background: $theme-primary-color;
                margin-right: 10px;
                border-radius: 50%;
            }

            .owl-dot.active {
                background-color: $theme-primary-color;
            }
        }

        &:hover {

            .owl-nav .owl-prev,
            .owl-nav .owl-next {
                opacity: 1;

            }
        }
    }

    .grid {
        padding: 15px;
        background: $white;

        .img-holder {
            position: relative;

            .hover-content {
                transition: all .3s;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                text-align: center;
                z-index: 11;

                i {
                    font-size: 30px;
                    color: $dark-gray;
                }
            }

            &:before {
                position: absolute;
                left: 2%;
                top: 2%;
                width: 96%;
                height: 96%;
                content: "";
                background: rgba(255, 255, 255, 0.8);
                opacity: 0;
                transition: all .3s;
                transform: scale(0);
                z-index: 1;
            }
        }
    }

    .img-holder:hover .hover-content {
        opacity: 1;
    }

    .img-holder:hover {
        &:before {
            opacity: 1;
            transform: scale(1);
        }

    }

    &.pt-120 {
        padding-top: 120px;

        @include media-query(991px) {
            padding-top: 90px;
        }

        @include media-query(767px) {
            padding-top: 80px;
        }

        @include media-query(575px) {
            padding-top: 60px;
        }
    }

}
