@use "../../variables" as *;
@use "../../mixins" as *;

.wpo-story-section-s4,
.wpo-story-section-s5,
.wpo-story-section-s6 {
    padding: 48px 0;

    @media(max-width:991px) {
        padding-bottom: 0;
    }

    .story-timeline {
        position: relative;
        padding: 100px 0 0;

        @media(max-width:991px) {
            padding-top: 20px;
        }

        .row {
            align-items: center;
        }

        &:after {
            content: "";
            background: $theme-primary-color-s4;
            width: 2px;
            height: 100%;
            position: absolute;
            left: 50%;
            top: 0;
            @include translatingX();

            @include media-query(991px) {
                display: none;
            }
        }

        .round-shape,
        .round-shape-2 {
            background: $white;
            width: 25px;
            height: 25px;
            position: absolute;
            left: 50%;
            top: 0;
            border: 5px solid #E6D1C7;
            @include translatingX();
            border-radius: 50%;
            z-index: 1;

            @include media-query(991px) {
                display: none;

                &:before {
                    display: none;
                }
            }
        }

        .round-shape-2 {
            left: 0;
        }

        .img-holder {
            max-width: 330px;
            border-radius: 50%;
            position: relative;
            z-index: 1;
            background: $white;
            margin-left: auto;
            margin-right: 50px;
            z-index: 1;

            @media(max-width:991px) {
                margin: 0 auto;
                margin-bottom: 50px;
            }

            @media(max-width:450px) {
                max-width: 250px;
            }

            &:before {
                position: absolute;
                left: 5%;
                top: 5%;
                width: 90%;
                height: 90%;
                content: "";
                border: 1px solid #fff;
                border-radius: 50%;
            }

            img {
                border-radius: 50%;
            }

            >img{
                width: 400px;
                height: 340px;
                object-fit: cover;
                object-position: center;
            }

            .story-shape-img-1 {
                position: absolute;
                top: -35px;
                left: -120px;
                z-index: 1;

                img {
                    border-radius: 0;
                }
            }
        }

        .img-holder.right-align-img {
            margin-left: 50px;
            border-radius: 50%;
            margin-right: 0;

            @media(max-width:991px) {
                margin: 0 auto;
                margin-bottom: 50px;
            }

            img {
                border-radius: 50%;
            }

            &:before {
                border-radius: 50%;
            }

            .story-shape-img-1 {
                left: auto;
                right: -125px;
            }
        }
    }

    .story-timeline>.row {
        position: relative;

        .horizontal-line {
            background: $theme-primary-color-s4;
            width: 70%;
            height: 1px;
            position: absolute;
            left: 50%;
            top: 0;
            @include translatingX();
        }

        &:last-child {
            .col {
                padding-top: 0 !important;
            }

            @media(max-width:991px) {
                padding: 0 !important;
                margin: 0 !important;
            }
        }
    }

    .story-timeline>.row+.row {
        margin-top: 30px;
        padding-top: 15px;

        @include media-query(991px) {
            padding-top: 30;
        }
    }

    .story-timeline>.row>.col:first-child {
        padding: 0 45px 0 100px;

        @include media-query(1199px) {
            padding: 0 45px 0 70px;
        }

        @include media-query(991px) {
            padding: 0 15px;
        }
    }

    .story-timeline>.row>.col:last-child {
        padding: 0 100px 0 45px;

        @include media-query(1199px) {
            padding: 0 70px 0 45px;
        }

        @include media-query(991px) {
            padding: 0 15px;
        }
    }

    .story-timeline .story-text {
        padding-left: 50px;

        @include media-query(991px) {
            background: transparentize($theme-primary-color, 0.95);
            padding: 35px 25px;
            text-align: center;
            margin-bottom: 0px;
        }

    }

    .story-timeline .left-site .story-text {
        padding-left: 0px;
        padding-right: 50px;

        @include media-query(991px) {
            background: transparentize($theme-primary-color, 0.95);
            padding: 35px 25px;
            text-align: center;
        }

    }

    .story-timeline .right-align-text {
        @include widther(992px) {
            text-align: right;
        }

        p {
            margin-left: auto;
        }
    }

    .story-timeline .story-text.right-align-text {
        @include widther(992px) {
            padding-left: 0;
            margin-right: 50px;
        }
    }

    .story-timeline .text-holder {
        position: relative;

        @include media-query(991px) {
            border: 0;
            padding-top: 0 !important;
        }

        .heart {
            background: $white;
            border: 1px solid $theme-primary-color-s2;
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            position: absolute;
            left: -25px;
            top: 50%;
            transform: translateY(-50%);
            @include rounded-border();
            z-index: 10;

            @include media-query(991px) {
                display: none;
            }
        }

        .fi {
            color: $theme-primary-color-s2;
            font-size: 25px;
        }
    }

    .story-timeline .right-heart .heart {
        left: auto;
        right: -25px;
    }

    .story-timeline h3 {
        font-weight: 400;
        font-size: 40px;
        line-height: 49px;
        font-size: calc-rem-value(40);
        color: $dark-gray;
        margin: 0 0 0.5em;

        @include media-query(1399px) {
            font-size: 35px;
            font-size: calc-rem-value(35);
        }

        @include media-query(1199px) {
            font-size: 30px;
            font-size: calc-rem-value(30);
        }

        @include media-query(991px) {
            font-size: 30px;
            font-size: calc-rem-value(30);
        }


        @include media-query(450px) {
            font-size: 24px;
            font-size: calc-rem-value(24);
            margin-bottom: 0px;
        }
    }

    .story-timeline .date {
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        font-size: calc-rem-value(18);
        display: block;
        margin-bottom: 15px;
        color: $theme-primary-color;

        @include media-query(450px) {
            margin-bottom: 5px;
        }
    }

    .story-timeline p {
        margin-bottom: 0;
        max-width: 385px;

        @media(max-width:991px) {
            margin: 0 auto;
        }

    }

    .story-timeline img {
        display: inline-block;
    }
}

.wpo-section-title,
.wpo-section-title-s2 {
    margin-bottom: 60px;
    text-align: center;

    @include media-query(767px) {
        margin-bottom: 40px;
    }

    span {
        display: block;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        text-align: center;
        color: $theme-primary-color-s2;

        @include media-query(767px) {
            font-size: 25px;
            line-height: 35px;
            margin-bottom: 0;
        }

        @include media-query(575px) {
            font-size: 18px;
        }
    }

    h2 {
        font-family: Sail;
        font-size: 50px;
        font-weight: 400;
        margin: 0;
        position: relative;
        color: $dark-gray;
        display: inline-block;
        position: relative;
        margin-top: 10px;

        @include media-query(767px) {
            font-size: 32px;
            line-height: 40px;
        }

        @include media-query(575px) {
            font-size: 25px;
            margin-top: 0;
        }

    }

    p {
        font-size: 18px;
    }
}


.wpo-section-title-s2 {
    text-align: left;

    @include media-query(991px) {
        text-align: center;
    }

    span{
        text-align: left;

        @include media-query(991px) {
            text-align: center;
        }
    }
}
