@use "../../../variables" as *;
@use "../../../mixins" as *;

.pagina-convite{
	height: 100vh;
	min-height: 920px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
	z-index: 1;
	overflow: hidden;

    background: url(/assets/images/invitation-bg2.jpg) no-repeat center center;
	background-size: cover;

	@include media-query(767px) {
		min-height: 650px;
	}

	@include media-query(550px) {
		min-height: 600px;
	}

	@include media-query(450px) {
		min-height: 600px;
	}

	&:before {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		content: "";
		background: rgba(0, 0, 0, 0.3);
	}

	.container {
		@include media-query(767px) {
			max-width: 100%;
		}
	}

	.conteudo-pagina {
		padding-top: 100px;

		@media(max-width:991px) {
			padding-top: 0;
		}

		.row {
			justify-content: center;
		}
	}

	.quadrado-branco {
		border: 1px solid #FFF;
		background: linear-gradient(140deg, rgba(255, 255, 255, 0.60) 0%, rgba(255, 255, 255, 0.30) 100%);
		box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.05);
		backdrop-filter: blur(10px);
		padding: 30px;
		margin-top: 120px;
		max-width: 1100px;
		margin: 0 auto;
		position: relative;

		@include media-query(767px) {
			padding: 20px;
		}
		@include media-query(450px) {
			padding: 10px;
		}

		.frame-shape-1 {
			position: absolute;
			left: 50%;
			top: -75px;
			transform: translateX(-50%);
			min-width: 558px;

			@include media-query(991px) {
				min-width: 300px;
				top: -36px;
			}

			@include media-query(350px) {
				min-width: 240px;
				top: -36px;
			}
		}

		.frame-shape-2 {
			position: absolute;
			left: 50%;
			bottom: -75px;
			transform: translateX(-50%);
			min-width: 558px;

			@include media-query(991px) {
				min-width: 300px;
				bottom: -36px;
			}

			@include media-query(350px) {
				min-width: 240px;
				bottom: -36px;
			}
		}
	}


	.informacoes {
		padding: 40px 70px 70px;
		position: relative;
		display: flex;
		justify-content: center;
		flex-direction: column;
		margin: 0 auto;
		background-size: contain;
		border: 1px solid $white;

		@media(max-width:500px) {
			width: 100%;
			background: none;
			padding: 0;
		}

		.texto {
			text-align: center;

			@media(max-width:1200px) {
				padding: 25px 15px;
			}
			@media(max-width:575px) {
				padding: 50px 10px;
			}

			@media(max-width:500px) {
				background: rgba(255, 255, 255, .5);
			}

			h2 {
				font-size: 80px;
				font-style: normal;
				font-weight: 400;
				margin-bottom: 10px;

				@media(max-width:991px) {
					font-size: 60px;
				}

				@media(max-width:767px) {
					font-size: 50px;
				}

				@media(max-width:450px) {
					font-size: 35px;
				}
			}

			p {
				font-weight: 400;
				font-size: 30px;
				line-height: 43px;
				margin-bottom: 30px;
				color: $text-color;

				@media(max-width:991px) {
					font-size: 22px;
					line-height: 33px;
				}

				@include media-query(767px) {
					margin-bottom: 10px;
				}

				@media(max-width:767px) {
					font-size: 18px;
					margin-bottom: 5px;
				}
			}

			.inner-shape {
				margin-bottom: 25px;
			}

			ul {
				list-style: none;
				max-width: 416px;
				margin: auto;


				li {
					margin-bottom: 25px;
					font-size: 20px;
					line-height: 30px;
					margin-left: 0;
					float: none;
					color: $text-color;

					@media(max-width:767px) {
						font-size: 16px;
						margin-bottom: 5px;
					}

					@media(max-width:450px) {
						margin-bottom: 2px;
					}

					&:last-child {
						margin-bottom: 0;
					}

					a {
						font-weight: 500;
						color: $theme-primary-color;
						position: relative;
						display: inline-block;

						@media(max-width:767px) {
							margin-top: 10px;
						}

						&:before {
							position: absolute;
							left: 0;
							bottom: 0;
							width: 100%;
							height: 1px;
							content: "";
							background: $theme-primary-color;
						}
					}
				}
			}
		}


		.shape-1 {
			position: absolute;
			left: 0;
			top: 0;
		}

		.shape-2 {
			position: absolute;
			right: 0;
			top: 0;
		}

		.shape-3 {
			position: absolute;
			left: 0;
			bottom: 0;
		}

		.shape-4 {
			position: absolute;
			right: 0;
			bottom: 0;
		}
	}

	.left-img,
	.right-img {
		position: absolute;
		left: 0;
		top: 0;
		width: 50%;
		height: 50%;

		&:before {
			position: absolute;
			left: 2%;
			top: 3%;
			width: 96%;
			height: 94%;
			content: "";
      border: 1px solid rgba($white, 0.5);

			@media(max-width:991px) {
				top: 2%;
				height: 96%;
			}

			@media(max-width:575px) {
				display: none;
			}
		}

		img {
			object-fit: cover;
			height: 100%;
			width: 100%;
		}
	}

	.right-img {
		position: absolute;
		left: auto;
		top: auto;
		right: 0;
		bottom: 0;
	}
}
